.spacer {
  flex: 1 1 auto;
}
.logo{
  cursor: pointer;
}
.git-btn{
  .mat-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 20px;
      height: 20px;
    }
  }
}