<mat-toolbar color="primary">
    <span class="logo" mat-flat-button color="primary" [routerLink]="'/'">Todo List</span>
    <span class="spacer"></span>
    <a target="_blank" href="https://github.com/saravanaraja25/todoapp-angular" class="git-btn" mat-button>
        <img src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg" alt="">
        Github
    </a>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        
    </button>
</mat-toolbar>
