<div class="category">
    <div class="text-input">
        <app-text-input [for]="'category'" (addEvent)="addCategory($event)"></app-text-input>
    </div>
    <div class="category-list">
        <mat-card class="category-item" *ngFor="let category of categories">
            <mat-card-content>
                <p [routerLink]="['/todos',category.id]">{{ category.name }}</p>
                <button mat-icon-button color="warn" (click)="removeCategory(category)">
                    <mat-icon>cancel</mat-icon>
                </button>
              </mat-card-content>
        </mat-card>
    </div>
</div>