<div class="category">
    <div class="text-input">
        <app-text-input [for]="'category'" (addEvent)="addCategory($event)"></app-text-input>
    </div>
    <div class="category-list">
        <mat-card class="category-item" *ngFor="let category of categories">
            <mat-card-content [routerLink]="['/todos',category.id]">
                <p>{{ category.name | titleCase }}</p>
                <p>Created At: <span>{{ category.createdAt | date }}</span> </p>
            </mat-card-content>
            <button mat-icon-button color="warn" (click)="removeCategory(category)">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-card>
    </div>
</div>