<div class="todos" *ngIf="categoryName">
    <div class="text-input">
        <app-text-input [for]="'todo'" (addEvent)="addTodo($event)"></app-text-input>
        <div class="category-name">
            <p>Category Name: <span>{{categoryName | titleCase}}</span></p>
            
        </div>
    </div>
    <div class="todo-drag-drop">
        <div class="container" cdkDropListGroup>
            <div class="drag-drop-container">
                <div class="drag-drop-container-header">
                    <h3>Todo</h3>
                </div>
                <div class="drag-drop-container-body" id="cdk-drop-list-0" cdkDropList cdkDropListSortingDisabled [cdkDropListData]="todos" (cdkDropListDropped)="drop($event)">
                    <div class="drag-drop-item" *ngFor="let todoItem of todos" cdkDrag>
                        <app-todo-item class="todo-items" [todoItem]="todoItem" (removeTodoItem)="removeTodo($event)"></app-todo-item>
                    </div>
                </div>
            </div>
            <div class="drag-drop-container">
                <div class="drag-drop-container-header">
                    <h3>On Progress</h3>
                </div>
                <div class="drag-drop-container-body" id="cdk-drop-list-1" cdkDropList cdkDropListSortingDisabled [cdkDropListData]="todosOnProgress" (cdkDropListDropped)="drop($event)">
                    <div class="drag-drop-item" *ngFor="let todoItem of todosOnProgress" cdkDrag>
                        <app-todo-item class="todo-items" [todoItem]="todoItem" (removeTodoItem)="removeTodo($event)"></app-todo-item>
                    </div>
                </div>
            </div>
            <div class="drag-drop-container">
                <div class="drag-drop-container-header">
                    <h3>Done</h3>
                </div>
                <div class="drag-drop-container-body" id="cdk-drop-list-2" cdkDropList cdkDropListSortingDisabled [cdkDropListData]="todosDone" (cdkDropListDropped)="drop($event)">
                    <div class="drag-drop-item" *ngFor="let todoItem of todosDone" cdkDrag>
                        <app-todo-item class="todo-items" [todoItem]="todoItem" (removeTodoItem)="removeTodo($event)"></app-todo-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="category-not-found">
    <p>Category Not Found</p>
    <a [routerLink]="'/'">Go to Home</a>
</div>