.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80%;
  background-color: transparent;
  .form {
    padding: 0 30%;
    mat-form-field {
      margin-bottom: 10px;
    }
    .full-width {
      width: 100%;
    }
  }
}
