<div class="register-form">
    <div class="header">
        <h1>Register</h1>
    </div>
    <div class="form">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

            <mat-form-field class="full-width" [color]="name?.valid && 'primary'">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" placeholder="Enter your Name" >
                <mat-error *ngIf="name?.invalid && name?.dirty || name?.touched">
                    Enter a valid Name
                  </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" [color]="email?.valid && 'primary'">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" placeholder="Enter your Email Address">
                <mat-error *ngIf="email?.invalid && email?.dirty || email?.touched">
                    Enter a Valid Email Address
                  </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" [color]="password?.valid && 'primary'">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Enter your Password">
                <mat-error *ngIf="password?.invalid && password?.dirty || password?.touched">
                    Enter a Valid Password
                  </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" [color]="passwordMatchValidator ? 'primary' : 'warn'">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm your Password">
                <mat-error *ngIf="!passwordMatchValidator">
                    Password Doesn't Match
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="error">
                {{error}}
            </mat-error>
            <button mat-raised-button color="primary" [disabled]="!registrationForm.valid || !passwordMatchValidator" >Register</button>
        </form>
    </div>
</div>